@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Simple CRUD</h1>
    <p>made with ASP.NET / MVC / SQL SERVER</p>
    <p>More projects on my <a href="https://github.com/FranciscoGRC?tab=repositories">github profile</a>.</p>
</div>
